body {
  margin: 0;
}

section {
  margin-bottom: 50px;
}

.banner .topnav {
  display: flex;
  position: absolute;
  right: 20px;
  top: 20px;
}

.banner .topnav .content {
  margin-right: 20px;
}

.banner h2 {
  color: rgb(255, 156, 161);
}

.banner .topnav .content a {
  color: black;
}

.banner .cover {
  max-height: 50vh;
  height: 472px;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-image: url(https://d2j6dbq0eux0bg.cloudfront.net/startersite/images/27263313/1587027470584.jpg);
  background-size: cover;
  background-position-y: 40%;
  background-position-x: 50%;
}

.banner .header {
  margin-top: -60px;
  text-align: center;
}

.banner .header .logo {
  background-image: url(https://d2j6dbq0eux0bg.cloudfront.net/images/27263313/1375558023.jpg);
  color: rgba(9, 9, 9, 1);

  width: 112px;
  height: 112px;
  border: 6px solid currentColor;
  border-radius: 50%;
  background-color: currentColor;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  margin: auto;
}

.location .location_detail {
  justify-content: center;
}

.location .location_detail .left {
  margin-right: 20px;
}

.location iframe {
  height: 100%;
}

.reservation {
  background-color: red;
}

.reservation h3 {
  text-align: center;
}

.reservation .dropdown {
  align-items: center;
  margin-top: 12px;
  justify-content: flex-start;
}

.reservation .dropdown p {
  margin: 0;
}

.reservation .formbox {
  width: 150px;
  margin: auto;
}

.reservation select {
  margin-left: 20px;
}

.reservation button {
  margin: auto;
  width: 100px;
  display: block;
  margin-top: 20px;
}

.footer {
  background-color: #efefef;
}

.footer .social_icon {
  margin-right: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: grey;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 20px;
}

nav li {
  display: inline;
  padding: 15px;
}

nav li a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: 900;
  font-size: large;
}

nav li a:hover {
  background-color: rgb(255, 156, 161);
  color: black;
}
/* menu */
.pointer {
  cursor: pointer;
}

.showMenu {
  display: block;
}

.menuIconContainer {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}
.menuIcon {
  display: flex;
  justify-content: center;
  flex: 1 0 50%;
  margin: 50px 0;
}
.menuIcon img {
  height: 70%;
}
.filterBlack {
  filter: brightness(0);
}
.menuContainer {
  display: none;
  width: 50%;
  margin: auto;
  border: solid #361c00 5px;
  border-radius: 20px;
  position: relative;
}
.menu {
  display: none;
  width: 90%;
  margin: auto;
}
.menuTitle {
  text-align: center;
  text-transform: uppercase;
}
.menuTitle h2 {
  font-weight: bold;
}
.menuTitle p {
  font-size: 15px;
  margin-top: 0;
}
.menuItem {
  display: flex;
  justify-content: space-between;
}
.menuItem p {
  font-size: 25px;
  font-weight: bold;
  margin-top: 0;
}
#x {
  position: absolute;
  right: 0;
  top: 0;
}
#x img {
  width: 30px;
}
